# created by virtualenv automatically
bin/*
lib/*
pyvenv.cfg
share

# model parameters
checkpoints/*

# execution
*/__pycache__/*

# Irrelevant files
*.sh
!setup.sh
!scripts/*.sh
*.log
*.out
.cache

# Data not used
data/parabank*
data/wmt*